{
    "AGENT_ID": "{{ agent_id }}",
    "AGENT_KEY": "{{ agent_key }}",
    "LOG_PATH": "{{ log_path }}",
    "LOG_FILENAME_PATTERN": "{{ log_filename_pattern }}",
    "LOG_RETENTION": "{{ log_retention }}",
    "WORKSPACE_PATH": "{{ workspace_path }}"
}