apiVersion: v1
clusters:
- cluster:
    server: <api-server-url>
    certificate-authority-data: <api-server-ca-data>
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: service-account
  name: target-cluster
current-context: target-cluster
kind: Config
preferences: {}
users:
- name: service-account
  user:
    token: <token>