apiVersion: v1
kind: Service
metadata:
    name: runner
    namespace: actions-runner-system
    annotations:
        metallb.universe.tf/address-pool: default
spec:
  ports:
{% for port in range(8000,8051) %}
{% filter indent(2) %}
  - name: http{{ port }}
  port: {{ port }}
  targetPort: {{ port }}
  protocol: TCP
{% endfilter %}
{% endfor %}
  selector:
    app: runner
  type: LoadBalancer
