apiVersion: v1
kind: Service
metadata:
    name: packer
    namespace: actions-runner-system
    annotations:
        metallb.universe.tf/address-pool: default
    spec:
        ports:
{% for port in range(8000,8051) %}
{% filter indent(2) %}
        - port: {{ port }}
        targetPort: {{ port }}
{% endfilter %}
{% endfor %}
        selector:
            app: github
        type: LoadBalancer
